@theme {
  --color-dimo-red: #e80303;
  --color-dimo-blue: #b9f2ed;
  --color-surface-default: #131417;
  --color-surface-sunken: #0a0508;
  --color-surface-raised: #232729;
  --color-surface-input: #322d2f;
  --color-cta-default: #232729;
  --color-cta-disabled: #0a0508;
  --color-border-disabled: #bababa;
  --color-text-secondary: #bababa;
  --color-feedback-success: #0d7038;
  --color-feedback-error: #8e3231;

  --color-grey-50: #f1f2f1;
  --color-grey-100: #d6d7d7;
  --color-grey-200: #bbbdbc;
  --color-grey-300: #a0a3a2;
  --color-grey-400: #868888;
  --color-grey-500: #6b6e6e;
  --color-grey-600: #464646;
  --color-grey-700: #353839;
  --color-grey-800: #232729;
  --color-grey-900: #131417;
  --color-grey-950: #000000;

  --color-dark-grey-50: #f4f6f7;
  --color-dark-grey-100: #e3e8ea;
  --color-dark-grey-200: #c9d2d8;
  --color-dark-grey-300: #a4b3bc;
  --color-dark-grey-400: #778c99;
  --color-dark-grey-500: #5c707e;
  --color-dark-grey-600: #4f5f6b;
  --color-dark-grey-700: #444f5a;
  --color-dark-grey-800: #3d454d;
  --color-dark-grey-900: #363c43;
  --color-dark-grey-950: #24292f;

  --color-dark-50: #f7f8f8;
  --color-dark-100: #edeef1;
  --color-dark-200: #d8dbdf;
  --color-dark-300: #b5bac4;
  --color-dark-400: #8d94a3;
  --color-dark-500: #6f7788;
  --color-dark-600: #596070;
  --color-dark-700: #494f5b;
  --color-dark-800: #3f434d;
  --color-dark-900: #373b43;
  --color-dark-950: #131417;

  --color-primary-50: #f2fdfc;
  --color-primary-100: #d0f6f3;
  --color-primary-200: #b2f1eb;
  --color-primary-300: #8feae3;
  --color-primary-400: #6de4da;
  --color-primary-500: #31d9cb;
  --color-primary-600: #1ea398;
  --color-primary-700: #136760;
  --color-primary-800: #082b28;
  --color-primary-900: #082b28;
  --color-primary-950: #082b28;

  --color-red-50: #fff0f0;
  --color-red-100: #ffcccc;
  --color-red-200: #ff8585;
  --color-red-300: #f85454;
  --color-red-400: #ff1414;
  --color-red-500: #b54947;
  --color-red-600: #c70000;
  --color-red-700: #402321;
  --color-red-800: #330000;
  --color-red-900: #330000;
  --color-red-950: #330000;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

.text-text-secondary {
  color: var(--color-text-secondary);
}

.bg-pill-gradient {
  background: linear-gradient(90deg, #b1e3ff, #6ee4da);
}
